h1 {
  text-align: center;
  color: red;
}

body {
  background-image: url(https://3.bp.blogspot.com/-FTnReG6zcNI/XGVtmsMqDZI/AAAAAAAAFxU/GNEkWr3lCboQ2VXydpYXTK6HtxhpRt60ACHMYCw/s1600/dice-wallpaper-and-background-image-1280x800-id295966.jpg);
  text-align: center;
}

h3 {
  color: blue;
}
